header{
  border: 2px solid black;
  background-image:url(../6.jpg)
}
body{
  background-image: url("../111.jpg");
}
.variants{
  margin-top: 20px;
}
.row{
  /*height: 100%;*/
}
footer{
  /*position: fixed !important;*/
  bottom: 0;
  border: 2px solid black;
  background-color: rgba(209, 250, 204, 0.58);

}
footer a{
  color:rgba(199, 0, 0, 1) !important;
}
.container-fluid{
  position: static !important;
}
.search .form-inline .form-control{
  float: left;
  width: 100% !important;
}
.search{
  top:25%;
}
.for_chat{
  position: fixed;
  bottom:1px;
}
#chat{
  position: relative;
  z-index:1000;
}
.card img{
  height:280px;
  width:250px;
  margin: 0 auto;
}
.card{
  margin-bottom: 20px;
  border-radius: 40px !important;
}
.card-body{
  background-color: ivory;
}
.list-group-item.active{
  z-index: 0 !important;
}
.chat_body{
  display: none;
  position: relative;
  height:  200px;
  border-radius: 12px;
}
aside{
  position: relative;
}
.logo{
  text-align: center;
}
.logotype {
  position: relative;
  margin: 20px 20px 20px 20px;
  width: 150px;
  border-radius: 100px;
}
.icon{
  width: 30px;
}
.action img{
  position: relative;
  margin-top: 12px;
}
main{
  position: relative;
  margin: auto;
  width: 20%;
}
footer ul{
  list-style-type: none;
}
.contacts ul{
  display: flex;
}
.contacts li img{
  width: 30px;
}
.variants li{
  list-style-type: none;
  position: relative;
  right:0;
 /* left:40%;*/
}
.content{
  margin: 2px 0 10px 0 ;
}
.sort select{
  position: relative;
  left:30%;
  margin: 10px 0 10px 0;
}

.description{
  margin-top: 20px;
}
.item img{
  width: 70%;
  height: 70%;
}
.item .description{
  position: relative;
  display: flex;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0 2px 0 20px;
}
.item{
  display: flex;
  margin: 20px 0 70px 0;
}
.content .item:nth-child(2n) .description{
  position: relative;
  margin: 20px 0 0 auto;
}
.variants li a{
  text-decoration: none;
  color: #f46060;
  font-weight: 900;
}
.nav-pills{
 background-color: #222222;
}
.menu{
  display: inline;
  margin: 12px 12px 12px 12px;
  background-color: #222222;
}
.menu li a{
  color: white;
}

#items{
  margin-bottom: 20px;
}
.ui-state-active{
  background: #ff0000 !important;
  border: 1px solid darkblue !important;
}
#categories div a[data-type][class='active'] {
  background-color: rgba(255, 0, 0, 0.15) !important;
}
.ui-accordion .ui-accordion-content {
  padding: 1em !important;
}
#items a{
  color: #1200ff !important;
}
.dropdown-submenu{
  position:relative;
}
.dropdown-submenu > .dropdown-menu
{
  top:10%;
  left:102%; /* отступ выпадающего подменю от родительского*/
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
/* показываем при наведении */
.dropdown-submenu:hover > .dropdown-menu{
  display:block;
}

.dropdown-submenu > a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
  border-left-color:#ffffff;

}
.dropdown-submenu:hover{
 background-color: greenyellow;
}
.dropdown-submenu:hover > .dropdown-menu li:hover{
  background-color: greenyellow;
}
.dropdown-submenu .pull-left{
  float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}

.root:hover .dropdown-menu{
  display: block;
}
.nav-item:hover>.dropdown-menu{
  display: block;
}
::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:5px;
}

::-webkit-scrollbar-track {
  background-color:#ecedee;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 20px;
  background-color: rgba(140, 233, 106, 0.59);
}

::-webkit-scrollbar-thumb:hover{
  background-color:#56999f;
}
.mr-sm-2{
  margin-right:0 !important;
}
.form-inline{
  position: relative;
}
.search .form-inline input{
  position: absolute;
}
.search .form-inline button{
  position: absolute;
  right: 0;
}
::-webkit-resizer{
  background-repeat:no-repeat;
  width:4px;
  height:0px
}

::-webkit-scrollbar{
  width:12px;
  position: absolute;
  right:20px;
}
.login {
  display: none;
  resize: none;
  position: fixed;
  overflow-y:auto;
  height: 391px;
  top: 30%;
  left: 40%;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #d5a085;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmZWYxOTYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2FjNGY3MyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(254, 241, 150)),color-stop(1, rgb(172, 79, 115)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left,rgb(254, 241, 150) 0%,rgb(172, 79, 115) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right,rgb(254, 241, 150) 0%,rgb(172, 79, 115) 100%);
  background-image: -ms-repeating-linear-gradient(top left,rgb(254, 241, 150) 0%,rgb(172, 79, 115) 100%);
}
.login>a{
  position:absolute;
  right:0;
  margin: 8px 8px 2px 2px;
  color:white;
  border: 1px solid black;
  background-color: #222222;
}
.form-group{
  position:relative;
  margin:20px 20px 20px 20px;
}
div .form-group label{
  float:left;
}
#login .form-group:nth-child(5) {
  text-align:right;
}
.form-group input:invalid{
  color:red;
}
.carousel-inner{
  height: 100%;
}
.form-group span{
  word-wrap: break-word;
  color: red
}
#error,#warning,#min_length,#success,#check{
  display: none;
}
#female div ul li{
  list-style-type: none;
}
#category li a{
  padding: 5px 20px 5px 20px;
}
#avatar{
  width:100%;
}
.user_information .nav-link{
  display: inline !important;
}
.user_menu{
  position: absolute;
  left:-25%;
}
.row .history{
   display: none;
}
#cabinet{
  display: none;
}
#exit{
  position: absolute;
  right:10px;
}
#exit a{
  color: red !important;
}
.variants li{
  text-align: right;
}
main{
  margin-bottom: 110px;
}
#goods{
  overflow-y: auto;
  max-height: 800px;
  margin-bottom: 110px;
}
input[value='Фильтр']{
  margin-bottom: 10px;
  width: 100%;
  margin-top: 20px;
}
#user_info li label{
  display: inline-flex;
  width: 20%;
}
#product_img{
  width: 200px;
}
#product_choose ul li button{
  width: 100%;
}
.color {
  width: 30px !important;
  height: 30px;
  border-radius: 100px;
}
li[data-type="colors"],li[data-type="sizes"]{
  display: block;
}
#btnAddToFavourites{
  position: absolute;
  color:red;
}
a[data-size][class*=active]{
  background-color: #f0ad4e !important;
}
#categories a[data-type]{
  display: flex;

}
#categories div a[data-type][class='active']{
  background-color: gold;
}
#basket tr th,#basket tbody tr td{
  text-align: center;
}
td[class='change'] button{
   width:10px;
}
.delivery{
  text-align: center;
}
.delivery label:first-child{
  font-weight: 800;
}
.form-check-input{
  margin-left: 0 !important;
}
.delivery .form-check select, .delivery_address input,.delivery_address button{
  display: block;
  position: relative;
  margin: 2px auto 4px;
}
#basket_action {
  text-align: right;
}
#basket_action span{
  margin-right: 29px;
}
#basket_action h2{
  margin-right: 32px;
}
#basket_action button{
  float: right;
  margin: 10px 10px 10px 5px;
}
button[data-type='put_rating']{
  position: relative;
  left:35%;
}
.product_information{
  margin-top:20px;
}
.list-group-item{
  background-color: rgba(0,0,0,0) !important;
}
.change input{
  text-align: center;
  width: 20px;
}
#contacts{
  display: none;
  position: fixed;
  top: 26%;
  left: 40%;
  border: 1px solid black;
  z-index: 1000;
  background-color: red;
  border-radius: 20px;
}

.alert-warning{
  display: none;
}
.delivery_address{
  display: none;
}
#place{
  display: none;
}
#contacts span{
  margin-left: 20px;
  margin-top: 20px;
  background-color: white;
}
p[data-type='alert']{
  display: none;
}
.new_comment{
  display: none;
}
#carousel{
  height:300px;
}
.carousel-item{
  height: inherit;
}
#cost{
  display: inline-block;
  width: 100%;
}
.card-header{
  padding: 0 0 0 0 !important;
}
.card-header button{
  width: 100%;
}
#colors .active i{
  font-size: 32px;
}
#filter_action{
  margin-top: 20px;
}
#filter_action button{
  width:100%;
}
#slider-range{
  margin: 2px 2px 2px 12px
}
#slider-range,#cost p{
  display: none;
}
#filter .card-body{
  margin: 12px 12px 12px 12px;
}
#cost{
  text-align: center;
}
.card-body p{
  text-align: center;
}
.rating .star,.item_rating .star{
  color:gold;
}
#product_img{
  width:inherit;

}
.item_rating{
  text-align: center;
}
#product_choose ul {
  position: relative;
 /* height: 50%;*/
}
.comments{
  border-radius: 12px;
}
.comment{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-width: 2px;
  padding: 5px 5px 5px 5px;
}
.comment img{
  border-radius: 22px;
  width:62px !important;
}
.comment h3{
  font-size: 24px !important;
  background-color: rgba(210, 255, 158, 0.49);
  font-family: Onyx;
}
.comment div{
  background-color: rgba(255, 243, 224, 1);
}
.comments div{
  padding-bottom: 2px;
  text-align: center;
}
#btnAddComment{
  position: relative;
}

#product_choose .comments {
  position: relative;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.62);
}
#product_choose ul li span{
  position: relative;
  margin: auto;
  font-family: Ravie;
  font-weight: 800;
  font-size: 18px;
}

/*#basket tbody{
  fonr-size:13px;
}
#basket thead{
  font-size: 12px;
}
*/
#product_choose ul li[data-type='cost'] span{
  position: relative;
  font-family: Arial;
  color:rgba(255, 5, 9, 1);
  margin: auto;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 10px 10px 10px;
}
#product_choose ul li[data-type='sizes'],#product_choose ul li[data-type='colors']{
  text-align: center;
}
#product_choose ul li[data-type='sizes'] span,#product_choose ul li[data-type='colors'] span{
  display: block;
  margin-top: 12px;
}
#product_choose ul li[data-type='sizes'] span a{
  font-weight: 900;
  font-family: Arial;
  margin-left: 2px;
}
.list-group-item span{
  margin-left: 20px;
}
.product_information{
  margin-top: 20px;
}


@media (min-width: 576px) {
 .col-sm-12 .variants ul li{
    display: inline-flex !important;
    position: relative;
    left: 10%;
  }
  footer .row{

  }
  .col-sm .variants ul{
    text-align: center !important;
  }
}
.ui-dialog{
  border-radius:12px !important;
  background-color: beige !important;
}
.ui-dialog-titlebar{
  background-color: rgba(171, 201, 130, 1) !important;
}
.ui-dialog-titlebar button{
  background-color: rgba(255, 255, 255, 0.27) !important;
}
.ui-dialog-content{
  text-align: center !important;
  font-family: Arial !important;
  font-weight: 700 !important;
  color:rgba(255, 82, 82, 1) !important;
}
.ui-dialog-buttonpane{
  background-color: rgba(0,0,0,0) !important;
}
.ui-dialog-buttonset{
  position: relative !important;
  right: 40px !important;
}
.ui-button{
  background-color: rgba(217, 255, 194, 0.63) !important;
}
/*смена расположения вспомогательного меню*/
@media all and (max-width:764px) {
  .col-sm-12 .variants li{
    display: inline;
    font-size: 11px;
    position: relative;
    left: 20%;
  }
 /* #basket thead tr th{
    font-size: 8px;
  }
  */
  #btnAddToFavourites i{
    position: relative;
    top: -32px;
    left: -28px;
  }
  button[data-type='put_rating']{
    position: relative;
    left: 40%;
  }

}

@media all and (max-width:474px) {
  #login{
    left: 20% !important;
  }
}
@media all and (max-width:746px) {
  #login{
    left: 30% !important;
  }
}
@media all and (max-width:444px) {
  .nav{
    display: block !important;
  }
}
